<nav class="menu">
  <ul>
    <li><a href="{{localeUrl '/' lang}}">{{__ "Home"}}</a></li>
    <li><a href="{{localeUrl 'content/about-us/' lang}}">{{__ "About us"}}</a></li>
    <li><a href="{{localeUrl 'users/' lang}}">{{__ "Users"}}</a></li>
  </ul>
  <hr>
</nav>
